.about {
    padding-bottom: 2rem;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background:
            linear-gradient(
                to right,
                rgba($primary-color, 0.9),
                rgba($primary-color, 0.3),
            ),
            url("../img/antonia-sitting.jpg") center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p{
            margin-bottom: 2rem;
        }
    }

    &__bio {
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &__job {
            background: rgba(211, 211, 211, 0.44);
            padding: 0.5rem;
            border-bottom: 3px solid $secondary-color;

            h2, h3 {
                margin: 0.5rem 0;
            }
            h6 {
                margin: 0.3rem 0;
            }
        }
    }

    /* mina iconer  (som också är innuti .about sectionen är ivägen så jag måste sätta som i display column istället.. */
    .social-icons {
        display: flex;
        flex-direction: column;
    }
 /* min footer är också ivägen, och eftersom den är i position sticky så ger jag den ett nytt positionsvärde på rotate -3 och -5 */
    footer {
        transform:
        rotate(90deg)
        translate(-3rem, -5rem);
    }
}